/* You can add global styles to this file, and also import other style files */

/* Make the router outlet + root fill the full viewport */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000308;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

router-outlet + * {
  display: block;
  width: 100%;
  height: 100%;
}
